
body {
  background-color: maroon;
}

#header {
  text-align: center;
  color: rgb(255, 217, 0);
  border: 20px solid rgb(250, 250, 248);
}

#logo-header {
  border: 5px dotted whitesmoke;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

